---
interface Props {
  buyLink?: string
  coverImgSrc?: string
  description?: string
  title?: string
  brokenTitle?: string
  videoSrc?: string
}

const { coverImgSrc, title, description, buyLink, videoSrc } = Astro.props
---

<section
  class="relative flex items-center justify-center p-[2.5vh] pt-28 min-h-screen lg:h-screen w-screen lg:overflow-hidden bg-black"
>
  <article
    class="relative z-30 text-white grid grid-cols-1 lg:grid-cols-3 max-w-screen-2xl"
  >
    <div class="grid col-span-1 place-items-center lg:place-items-start">
      <img
        src={`/img/${coverImgSrc}`}
        alt=""
        class="max-w-[50%] lg:min-w-[75%] shadow-[0px_0px_10px_rgba(0,0,0,0.3)]"
      />
    </div>

    <div
      class="col-span-full lg:col-span-2 ml-0 lg:ml-2 text-center lg:text-right"
    >
      <h2
        class="mt-5 lg:mt-0 mb-5 inline-block p-5 shadow-black bg-black bg-opacity-30 text-3xl lg:text-6xl"
      >
        {title}
      </h2>
      <p
        set:html={description}
        class="text-xl lg:text-3xl text-center lg:text-right bg-black bg-opacity-30 p-5"
      >
      </p>
      <a
        class="inline-block py-2 px-4 mt-5 text-xl lg:text-2xl font-semibold bg-black bg-opacity-30 hover:bg-opacity-50"
        href={buyLink}
        target="_blank"
      >
        See in store
      </a>
    </div>
  </article>

  {
    videoSrc && (
      <video
        autoplay
        playsinline
        loop
        muted
        class="absolute z-10 min-w-screen max-w-none min-h-screen"
      >
        <source src={videoSrc} type="video/mp4" />
        Your browser does not support the video.
      </video>
    )
  }
</section>

<style>
  h2 {
    font-family: "Bebas Neue";
  }

  p,
  a {
    font-family: "Oswald";
  }

  @media screen and (orientation: portrait) {
    section {
      height: fit-content;
      overflow: hidden;
      padding-top: 8rem !important;
      padding-bottom: 3rem !important;
    }
  }
</style>
