---
interface Props {
  buyLink: string
  coverImgSrc: string
  description: string
  title: string
  videoSrc?: string
}

const { coverImgSrc, title, description, buyLink, videoSrc } = Astro.props
---

<section
  class="relative p-[2.5vh] flex items-center justify-center h-screen w-screen overflow-hidden"
>
  <article
    class="relative z-30 text-white grid grid-cols-3 max-w-screen-2xl pt-5"
  >
    <div class="col-span-1">
      <img
        src={`/img/${coverImgSrc}`}
        alt=""
        class="min-w-[100%] shadow-[0px_0px_10px_rgba(0,0,0,0.3)]"
      />
    </div>
    <div class="col-span-2 ml-2 text bg-black bg-opacity-50 p-6">
      <h2 class="text-5xl">{title}</h2>
      <p>
        {description}
      </p>
      <div class="btns">
        <a href={buyLink} target="_blank">Buy</a>
      </div>
    </div>
  </article>

  {
    videoSrc && (
      <video
        autoplay
        loop
        muted
        class="absolute z-10 w-auto min-w-full min-h-full max-w-none"
      >
        <source src={`./vids/${videoSrc}`} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    )
  }
</section>
